/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*----------------------------------------------------------------------------------*/

body{
	background-image: none;
	background-size: cover;
	background-color: #362819;
	position: relative;
	background-repeat: no-repeat;
}

#container{
	width: 960px;
	height: 1550px;
	background-color: #FFF;
	position: relative;
	margin: auto;
/*	outline: 1px red solid;*/
}

#logo{
    margin-left: 400px;
    margin-bottom: -80px;
    padding-top: 25px;
	/*margin: 30px 40px auto 40px; 
	outline: 1px red solid; */
}

/*#summer, #fall{
    width: 100px;
    color:#362819;
    font-family: verdana;
    float: left;
    margin: 100px 140px 0 -120px;
}

#summer a, #fall a{
    color:#362819;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-family: verdana;
    float: left;
}*/

#mainNav .cat{
    width: 100px;
    color:#362819;
    font-family: verdana;
    float: left;
    margin: 100px 140px 0 -120px;
}

#mainNav .cat a{
    color:#362819;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-family: verdana;
    float: left;
}

#login, #register{
	color: #362819;
	font-family: verdana;
	text-align: right;
	float: right;
	margin: 100px 40px 0 0;
    text-decoration: none;

}

#login a, #register a{
    display: inline-block;
    color: #362819;
    font-size: 14px;
    font-family: verdana;
    text-decoration: none;

}

.slide{
    width: 960px;
    height:auto;
    background-color: #333333;
    position: absolute;
    margin-top: 150px;
}


/*#summer, #fall{
    color: #362819;
    font-family: arial;
    margin-left: 300px;
    margin-right: 40px;
    display: inline-block;
    float: center;
    margin-top: 30px;
    margin-bottom: 50px;
    outline: 1px red solid;
}

#summer a, #fall a{
    text-decoration: none;
    font-style: normal;
    margin-left: 20px;
    font-size: 13px;
   
}*/

#product{
    width: 100%;
    margin-top: 650px;
}

#product ul{
    width: 960px;
    margin: 0 auto;
}

#product ul:after{
    content: "";
    display: block;
    clear: both;
}

#product ul li{
    width: 215px;
    margin: 0 0 20px 20px;
    padding: 20px 0 20px 0;
    float: left;
    overflow: hidden;
    line-height: 1.4em;
    list-style: none;
    text-decoration: none;
    background-color: #FFF;
}

#product ul li:hover{
    background-color: #fdf5ef;
}

#product ul li h2{
    font-style: verdana;
    font-size: 12px;
    margin-left: 5px;
    color: #362819;
    font-weight: normal;
    margin-bottom: 5px;
}

#product ul li img{
    display: block;
    width: 215px;
    height: 200px;
    margin: 0 auto;
}

#product ul li p{
    font-style: verdana;
    font-size: 12px;
    color: #362819;
    font-weight: normal;
    font-style: italic;
    margin-top: 5px;
}

#product ul li h3{
    margin: 10px 0 10px 0;
    font-style: verdana;
    font-size: 14px;
    color: #362819;
    font-weight: bold;
}

#product ul li a{
    display: block;
    width: 70px;
    height: 30px;
    background-color: #fdf5ef;
    line-height: 30px;
    text-decoration: none;
    color: #362819;
    font-weight: normal;
    font-style: verdana;
    font-size: 13px;
    float: right;
    padding-left: 5px;
}

#footercontent p{
    font-style: verdana;
    color: #362819;
    font-weight: normal;
    font-size: 13px;
    float: left;
    margin-left: 10px;
  /*  outline: 1px red solid;*/
    margin-top: 5px;
}

#facebook, #twitter, #google{
    float: left;
    display: inline-block;
    /*margin: auto;*/
 /*   outline: 1px red solid;*/
    position: relative;
    margin-left: 13px;
}

#facebook a, #twitter a, #google a{
    float: left;
    display: inline-block;
    padding-top: 35px;

}

/*------------------register------------------------*/


#containerregister{
    width: 960px;
    background-color: #fff;
    position: relative;
    background size: cover;
    margin: auto;
    height: 1200px;
    /*outline: 1px red solid;*/
}

#registerfooter{
   /* font-style: verdana;
    color: #362819;*/
    font-weight: normal;
    font-size: 13px;
    float: left;
    clear: both;
    margin: 620px 0 0 10px;
}

#form{
    width: 960px;
    margin-top: 150px;
   /* background-color: #fdf5ef;*/
}

.registerform{
    width: 800px;
    margin: auto;
    clear: both;
}

#form .registerform h3{
    width: 100px;
    display: block;
    text-align: left;
    padding-bottom:5px;
   /* border-bottom: 1px solid #575036;*/
/*    margin:0px auto 40px auto;*/
    margin-bottom: 10px;
    font-family: verdana;
    color: #d3af8e;
    font-size: 14px;
    border-bottom: 1px solid #696969;


}

.forminput{
    width: 250px;
    margin:10px;
    color: #000;
    display:block;
}

.registerform .formlabel{
    width:100px;
    float:left;
    text-align:right;
}

.registerform .formlabel{
    padding-right: 20px;
}

/*.registerform:after {
    content:"";
    display: block;
    clear:both;
}
*/
.registerform form input[type="submit"]{
    float: left;
    margin-left: 350px;
    margin-top: 10px;
}

#form form input[type="submit"]{
    color: #696969;
    display:block;
    width: 90px;
}

.registerform form input[type="submit"]:hover{
    background-color: #FBC6B1;
} 

.registerform .formlabel{
    font-family: verdana;
    font-size:13px;

}

/*#form .registerform */

#form .registerform .errormessage{
    color:red;
    display:block;
    float:right;
    margin-right: 300px;
    font-family: verdana;
   /* height:30px;*/
}

#mainlogin{
    width: 960px;
    margin-top: 150px;
    height: 1200px;
  /*  outline: 1px red solid;*/
}

.registerlogin{
    width: 800px;
    margin: auto;
    clear: both;
}

#mainlogin .registerlogin h3{
    width: 100px;
    display: block;
    text-align: left;
    padding-bottom:5px;
   /* border-bottom: 1px solid #575036;*/
   /* margin:40px auto 40px auto;*/
    margin-bottom: 10px;
    font-family: verdana;
    color: #d3af8e;
    font-size: 14px;
    border-bottom: 1px solid #696969;

}

.formlogin{
    width: 250px;
    margin:10px;
    color: #000;
    display:block;
}

.registerlogin .formlabel{
    width:100px;
    float:left;
    text-align:right;
    padding-right: 20px;
}

.registerlogin form input[type="submit"]{
    float: left;
    margin-left: 350px;
    margin-top: 10px;
}

#mainlogin form input[type="submit"]{
    color: #696969;
    display:block;
    width: 90px;
}

.registerlogin form input[type="submit"]:hover{
    background-color: #FBC6B1;
} 

.registerlogin .formlabel{
    font-family: verdana;
    font-size:13px;

}

#mainlogin .registerlogin .errormessage{
    color:red;
    display:block;
    float:left;
    /*margin:10px;
    height:30px;*/
}

/*------------------------cart---------------------------*/

#productcart{
    width: 100%;
    margin-top: 630px;
    color: #d3af8e;
    height: 450px;
}

#productcart ul li{
    width: 960px;
    margin: 0 auto;
    padding: 0 0 0 10px;
    list-style: none;

}

.cartlist h2{
    font-family: verdana;
    font-style: normal;
    font-size: 14px;
    color: #d3af8e;
}

.cartlist img{
    display:block;
    width: 300px;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cartlist p{
    display: block;
    float: left;
    margin: -260px 70px 30px 350px;
    font-style: verdana;
    font-size: 14px;
}

.cartlist #totalcost{
    display: block;
    float: left;
    margin: -200px 70px 0px 350px;
    font-style: verdana;
    font-size: 18px;
}

.cartlist a{
    display: block;
    float: right;
    margin: 150px 20px 0 280px;
    width: 100px;
    height: 30px;
    color: #362819;
    line-height: 30px;
    text-decoration: none;
    background-color: #D3AF8E;
    padding-left: 15px;

}

#footercontentdetail p{
    font-size: 13px;
    font-family: verdana;
    margin: 20px 0 0 10px;

}

.post{
    float: left;
    display: block;
    width: 100px;
    margin-left: -30px;
    margin-top: 30px;
}

/*.cartlist form label{
    margin-right:10px;
    margin-left:40px;
    margin-top:12px;
    outline: blue solid;
}
*/

.cartlist .quantityTitle{
    /*outline: blue solid;*/
    line-height: 30px;
}
.cartlist form input[type='text']{
    margin-top:10px;
    width:40px;
}

.cartlist form input[type='submit']{
    position: absolute;
    top: 900px;
    left:600px;
}

.cartlist form{
    width: 300px;
}

.cartlist form input[type="submit"]{
    color: #696969;
    display:block;
    width: 90px;
}

#registerlogin form input[type="submit"]:hover{
    background-color: #FBC6B1;
} 

.quantity{
    width: 50px;
    display: block;
    float: left;
}

#profilelist{
    width: 100%;
    margin: auto;
}

#profilelist li{
    width: 960px;
    display: block;
    float: left;
    text-decoration: none;
    margin-left: 80px;
    font-family: verdana;
    font-size: 14px;
    margin-bottom: 10px;

}

#profilelist h3{
    width: 100px;
    display: block;
    text-align: left;
    padding-bottom:5px;
   /* border-bottom: 1px solid #575036;*/
/*    margin:0px auto 40px auto;*/
    margin-bottom: 10px;
    font-family: verdana;
    color: #d3af8e;
    font-size: 14px;
    border-bottom: 1px solid #696969;
    margin-top: 150px;
    margin-left: 30px;
    
}

#hello{
    width: 500px;
    display:block;
    float: left;
    margin: 50px 300px 0 20px;
}

#editprofile{
   width: 100%;
   margin: auto;
}

#editprofile li{
    width: 960px;
    display: block;
    float: left;
    text-decoration: none;
    margin-left: 80px;
    font-family: verdana;
    font-size: 14px;
    margin-bottom: 10px;

}

#editprofile a{
    text-decoration: none;
    display: block;
    float: left;
    height: 30px;
    color: #362819;
    line-height: 30px;
    background-color: #D3AF8E;
    margin-left: 200px;
    width: 50px;
    padding-left: 20px;
    font-style: verdana;
    font-size: 13px;

}







